body {
  background: #D6EADF;
  margin: 0;
}

#root {
  font-family: "Montserrat", sans-serif;
  width: 70%;
  margin: 40px auto;
  font-size: 12px;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 5px 0 15px;
  font-weight: 600;
  color: black;
}

.confirm {
  padding: 5px 15px;
  border-radius: 4px;
  background: white;
  border: 0.5px solid #aaa;
  font-size: 1rem;
  cursor: pointer;
  margin: 15px;
}

.confirm:hover {
  background: #D0F4EA;
}

#root {
  &.toggled .result-list {
    visibility: visible;
    bottom: 0;
  }

  &.toggled .chb-list {
    pointer-events: none;
  }
}

footer {
  text-align: right;
}
