.result-list {
  position: fixed;
  bottom: -100px;
  left: 0;
  right: 0;
  background: black;
  visibility: hidden;

  transition: all 0.3s ease-in-out;
}

.list-title {
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-title i {
  cursor: pointer;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto 30px;
}

.list-wrapper div {
  margin: 10px 0;
}
