body {
  background: #B8E0D2;
  margin: 0;
}

#root {
  font-family: "Montserrat", sans-serif;
  width: 70%;
  margin: 0 auto;
  font-size: 12px;
}


.title {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0 15px;
  font-weight: 600;
  color: white;
}

.chb-list {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.chb-list div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.chb-button {
  font-size: 2rem;
  margin-right: 30px;
  cursor: pointer;
}

.chb-info {
  background: #95B8D1;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 14px 0px rgba(50, 50, 50, 0.56);
}

.chb-info span {
  margin: 10px 5px;
}

.confirm {
}
